/* Universal styles */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}
h1 {
  font-size: 2rem;
}

/* Set background colors */

.logo,
.main,
.product p,
.heading,
footer {
  background-color: black;
}
.navigation {
  background-color: firebrick;
}

/* Assign flex containers */

.logo,
.banner,
.navigation,
.grid,
footer {
  display: flex;
  justify-content: center;
}
.container,
nav ul {
  display: flex;
  width: 960px;
}
.main,
.product {
  display: flex;
  flex-direction: column;
}
.logo .container,
footer {
  align-items: center;
}
nav ul,
.grid .container {
  justify-content: space-between;
}

/* Style Logo Section */

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}
.logo p {
  margin: 0.66rem 1rem;
}

/* Style Main Banner */

.banner {
  height: 25rem;
  background-image: url("./moto.jpeg");
  background-size: cover;
}
.banner .container {
  align-items: flex-start;
}
.main {
  width: 20rem;
  margin-top: 9rem;
  font-weight: bold;
}
.main p {
  margin: 2rem 0 0.25rem 3rem;
}
.main h1 {
  margin: 0.25rem 0 2rem 3rem;
}

/* Style Navigation Bar */

nav {
  margin: 0.75rem 0;
}
nav a {
  display: none;
}

/* Style Product Grid */

.product {
  width: 30%;
  margin: 3rem 0;
}
.product img {
  height: 9rem;
  padding: 2rem;
  border: 4px solid black;
}
.product p {
  text-align: center;
  padding: 0.5rem 0;
}

/* Style Location & Hours Section */

.info {
  width: 35%;
  margin-bottom: 4rem;
}
.heading {
  padding: 1rem 2rem;
}
.detail {
  color: black;
}

/* Style Footer */

footer {
  height: 5rem;
}

/* Media Queries to adjust layout for smaller screens */

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  nav a {
    display: block;
    text-align: center;
  }
  .grid .container {
    max-height: 21rem;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1rem;
  }
  .main p {
    font-size: 0.77rem;
    margin: 1rem 0 0.25rem 2rem;
  }
  .main h1 {
    margin-left: 2rem;
  }
  .main {
    width: 100%;
    margin-top: 10rem;
  }
  .banner .container {
    align-items: flex-end;
  }
  .banner {
    height: auto;
  }
  .grid .container {
    justify-content: center;
  }
  .product {
    width: 90%;
  }
  .info {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  footer {
    margin-top: 4rem;
  }
  footer .container{
    justify-content: center;
  }
}
